.room-participants-actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-top: 60px;
}

.results {
  position: absolute;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1px;
  top: 0px;
}

.room-participants-actions button {
  font-size: 0.95em;
}

.show-result-btn {
  background-color: #0000008f;
  color: #fff;
}

button.show-result-btn:hover {
  background-color: #585858;
}
