:root {
  --border-color: #0000001f;
}

body {
  background-color: #d8f7ff;
  color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
}

input,
button {
  outline: none;
  border-radius: 5px;
  padding: 5px 13px;
  padding-bottom: 7px;
  font-family: inherit;
  font-size: 1.1em;
  border: 1px solid var(--border-color);
}

button {
  cursor: pointer;
}
